# Python for Psychologists - Session 2
## Some more on lists, dictionaries, tuples, errors

### More on lists
**Adding elements**

Last session we learned how to add an element to a list by using 
```python
my_list.append(element1)
```
to add a single element or 
```python
my_list.extend([element1, element2, element3])
```
to add a whole bunch of elements. We also learned that we can add an entire list as an element to a list.
Just to make sure that we got the difference of `append` and `extend` right, try to add the list
`[7,8,9]`
to the list below by using first the `extend` and then the `append` command.

In [16]:
my_list = [1,2,3,4,5,6]

In [17]:
my_list.append([7,8,9])
my_list

[1, 2, 3, 4, 5, 6, [7, 8, 9]]

In [18]:
my_list.extend([7,8,9])
my_list

[1, 2, 3, 4, 5, 6, [7, 8, 9], 7, 8, 9]

By the way, there is also a **shortcut for the extend command**:

```python
my_list + [new_element1, new_element2, new_element3]
```

**Deleting elements**

One thing we have not covered last time is how to **remove** elements from a list, which works as follows:

```python
del my_list[1] # this will delete the second element
```

Try to delete the list element [7,8,9] that we have just added via `append`.

In [20]:
my_list

[1, 2, 3, 4, 5, 6, [7, 8, 9], 7, 8, 9]

In [15]:
del my_list[6]
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

There are actually more ways of removing an element from a list. Try to figure out what the difference is between
- `del my_list[1]`
- `my_list.remove(1)`
- `my_list.pop(1)`

**del my_list[1].**
Removes the item stored at the *indexed* position.


**remove().**
Removes the element specified inside the parentheses, however not by index but by *content*.


**pop().**
Returns the element specified inside the parentheses by *index* and removes it.

**Inserting elements**

We can also insert an element at a specific index. The syntax is as follows:
```python 
my_list.insert(position, new_element) # add new_element at position
```
Try to insert the number 99 at the 3rd position of `my_list`.

In [27]:
my_list.insert(2, 99)
my_list

[2, 3, 99, 5, 6, [7, 8, 9], 7, 8, 9]

### Dictionaries

We will now get to know another kind of data structure called dictionary. As the name gives away, a dictionary is structured like a dictionary, that is, there is a mapping from one name to some other name (or value). The name under for which we want to know the value it is mapped to is called the *key*. The value is simply called *value.* Dictionaries can be created with the following syntax:

```python
my_dict = {"key1": value1, "key2":"value2", "key3":["v", "a", "l", "u", "e", "3"]}
```

Create a dictionary that maps your top 2 cutest animals to the rank you would give them (i.e., 1 or 2).

In [28]:
cute_animals = {"otters":1, "dogs":2}
cute_animals

{'dogs': 2, 'otters': 1}

Just in case you don't believe me, below is proof for otters being the cutest animals in the world!

![pandasUrl](https://media.giphy.com/media/9A56kPXH16UqBKmdug/giphy.gif "otters1")

![pandasUrl](https://media.giphy.com/media/VloengiEXvPwY/giphy.gif "otters2")

We have learned that lists are an *ordered* collection of things which is important for things like timeseries etc. An important difference between lists and dictionaries is, that dictionary entries cannot be referred to by their position in the dictionary but only directly by their key name.

We can get the value that is mapped to a certain key with the following syntax:

```python
my_dict["key_name"]
```
Try to fetch the rank of one of the animals in your dictionary.

In [182]:
cute_animals["dogs"]

2

**Adding entries**

If we wish to add a key-value pair to our dictionary we can do this the same way we tried to fetch a value, however, this time we assign a value to it. The syntax looks like this:

```python
my_dict["new_key"] = new_value
```

By the way: the keys of the dictionary entries don't always have to be strings, they can also be numbers or tuples (we will hear about tuples soon). Actually, any object that is *unchangable* will work. Objects that are *changeable*, cannot be keys of dictionary entries (this includes other dictionaries as well).

Now try to add a third animal with its rank to your dictionary. Look at the dictionary again afterwards.

In [29]:
cute_animals["piglets"] = 3
cute_animals

{'dogs': 2, 'otters': 1, 'piglets': 3}

**Deleting entries**

This is, luckily, the same command we already know from the deletion of elements from a list:

```python
del my_dict[key_to_be_deleted]
```

Delete the third/newest entry to the dictionary and take a look at the dictionary again.

In [30]:
del cute_animals["piglets"]
cute_animals

{'dogs': 2, 'otters': 1}

**Size of a dictionary**

Also an easy one as this works the same way as for lists:

```python 
len(my_dict)
```
This will show you the number of key-value pairs.

In [31]:
len(cute_animals)

2

For the two remaining animals in your dictionary create a dictionary for each. The keys in these two new dictionaries should be:
- rank (as before the rank in your "cutest animals"-list; integer)
- food (something these animals like to eat; string)
- size (small, medium or large; string)

In [32]:
otters = {"food":"fish", "size":"small", "rank":1}
dogs = {"food":"meat", "size":"medium", "rank":2}

**Adding several key-value pairs**

If we want to add not just one but several entires to a dictionary, we can do that easily with the following syntax:

```python
my_dict.update({"new_key1":new_value1, "new_key2":new_value2, "new_key3":new_value3})
```

Add two more entries to the two dictionaries you have just created:
- habitat (where these animals typically live; string)
- age (expected age; integer)

Take a look at the two dictionaries afterwards.

In [33]:
otters.update({"age":15, "habitat":"waters"})
dogs.update({"age":13, "habitat":"with humans"})

In [34]:
otters

{'age': 15, 'food': 'fish', 'habitat': 'waters', 'rank': 1, 'size': 'small'}

In [35]:
dogs

{'age': 13,
 'food': 'meat',
 'habitat': 'with humans',
 'rank': 2,
 'size': 'medium'}

We can also check if a key is among the keys of our dictionary. Use the following syntax to check if some animal is a key in your `cute_animals` dictionary:

```python
"key" in my_dict
```

In [60]:
"otters" in cute_animals

True

In [36]:
"spider" in cute_animals

False

How can we check if a certain *value* is part of the *values* of a dictionary? Try to find out! And remember: google is your friend :)

So far we have only looked at the content of our dictionaries by evaluating its name, which led to Python printing the content into the output cell. If we want *work* with the items of a dictionary in form of an object we can use the following syntax:

```python
my_dict.items()
```

This will return an object of type `dict_items`. Don't worry if this confuses you right now, it will get clearer throughout the course.

Try to get the items of one of the animals inside your cute_animals dictionary.

In [78]:
cute_animals["otters"].items()

dict_items([('rank', 1), ('food', 'fish'), ('age', 15), ('size', 'small'), ('habitat', 'waters')])

As we can see, inside a dict_items object each key-value pair is represented in parentheses. These parentheses are tuples which we will hear about next.

### Tuples

Tuples look a lot like lists, however there is one very important difference: once they are created, they cannot be changed (hence, tuples are *immutable objects*). For an in-depth article on (inmutable) tuples, see [here](https://standupdev.com/wiki/doku.php?id=python_tuples_are_immutable_but_may_change).

Tuples are created the same way as lists, only that instead of `[]` we use `()`:

```python
my_tuple = (1,2,3, "hallo", (3,4,5))
```
Tuples can also be indexed like lists using square brackets `[]`.

Create a tuple with three elemets and try to change the second element.

In [38]:
a=(1,"hallo", 2)
a[1] = 3

TypeError: 'tuple' object does not support item assignment

**Adding elements to a tuple**

This works just as with lists:

```python
my_tuple = my_tuple + (new_element1, new_element2, new_element3)
```

Add some random numbers to the following one.

In [38]:
my_tuple = (1,2,3)
my_tuple = my_tuple + ("1","2","3")
my_tuple

(1, 2, 3, '1', '2', '3')

In order to add another tuple to an existing tuple use the following syntax:

```python
my_tuple  = my_tuple + ((element1, element2),)
# this is equivalent to:
my_tuple = my_tuple + (some_other_tuple,)
```

Add a tuple to my_tuple.

In [39]:
new_tuple = (4,5,6)
my_tuple = my_tuple + (new_tuple,)
my_tuple

(1, 2, 3, '1', '2', '3', (4, 5, 6))

Let's see if we can delete an element from a tuple using the `del` command which we are already familiar with.

In [43]:
del my_tuple[-1]

TypeError: 'tuple' object doesn't support item deletion

If we want to delete some element from a tuple we will have to overwrite the tuple. Use slicing to delete one element from `my_tuple`.

In [44]:
my_tuple = my_tuple[0:-2]
my_tuple

(1, 2, 3, '1', '2')

### Sets
Sets are *unordered* and *unindexed* collections of things. Sets also differ from lists in that they cannot contain two identical elements. Sets can be created with the following syntax:

```python
my_set = {"element1", element2, 4}
```

Create a set of three random inputs.

In [65]:
my_set = {"hallo", 2, 9}
my_set

{'hallo', 2, 9}

Now try to create a set with a duplicate value. Take a look at the resulting set afterwards.

In [67]:
my_set = {"hallo", 2, 9, 9, 1}
my_set

{'hallo', 2, 9, 1}

Try to access the first element of your set.

In [54]:
my_set[0]

TypeError: 'set' object does not support indexing

We can also convert lists to sets and vice versa:

```python
my_list = [1,2,3,4]
my_set = set(my_list)
my_list = list(my_set)
```

Take the following list, convert it to a set and back to a list again.

In [59]:
my_list = ["ich", "mag", "sets"]

In [60]:
my_set = set(my_list)
my_set

{'ich', 'mag', 'sets'}

In [73]:
new_list = list(my_list)
new_list

['ich', 'mag', 'sets']

**Adding items to a set**

We can add single items to a set using the following syntax:

```python
my_set.add(new_item)
```

We can also add several items at once:

```python
my_set.update({new_item1, new_item2})
```

Try to add some items to my_set.

In [64]:
my_set.update({"und", "Listen", "auch"})
my_set

{'Listen', 'auch', 'ich', 'mag', 'sets', 'und'}

**Removing items from a set**

Removing items from a set works similarly:

```python
my_set.remove(item_to_be_removed)
```

Delete one of the items that you have just added.

In [147]:
my_set.remove('Listen')
my_set

{'auch', 'ich', 'mag', 'sets', 'und'}